@import '../../../styles/constants.scss';

.root {
  margin: $spacing 0;
  background-color: #fff;
  border-radius: $roundness;
  display: flex;
  align-items: stretch;
  overflow: hidden;

  .section {
    display: flex;
    align-items: center;
    height: 72px;
    padding: $spacing-small;

    .icon {
      width: 24px;
      height: 24px;
      margin: 0 $spacing-small;
    }

    .input {
      color: $text-color;
      font-size: 16px;
      width: 100%;
      border: none;
    }

    .checkBox {
      margin: 0 $spacing;
    }
  }

  .small {
    width: 30%;
    flex-shrink: 0;
  }

  .big {
    width: 100%;
  }

  .borderRight {
    border-right: $gray-color 1px solid;
  }

  .mobileActions {
    display: none;
    padding: $spacing-small;

    .filter {
      background-color: transparent;
      margin-right: $spacing-small;
    }

    .search {
      width: 48px;
    }
  }

  @media (max-width: 1024px) {
    .section {
      .icon {
        display: none;
      }
    }
    .small {
      display: none;
    }
    .borderRight {
      border-right: none;
    }

    .mobileActions {
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }
  }
}
